<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - Topping">Topping</title>
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T5T3CSLT');</script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=G-Y1ZSWHSQD0'></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-Y1ZSWHSQD0');
    </script>
    
    <!-- Auth-specific CSS -->
    <link rel="stylesheet" th:href="@{/css/auth.css}">
    
    <!-- Page-specific CSS -->
    <th:block layout:fragment="styles"></th:block>
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
<body class="auth-body">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src='https://www.googletagmanager.com/ns.html?id=GTM-T5T3CSLT'
    height='0' width='0' style='display:none;visibility:hidden'></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- Auth Header (minimal) -->
    <header class="auth-header">
        <a href="/" class="auth-logo">
            <img th:src="@{/image/topping_S.png}" alt="토핑" class="logo-image" onerror="this.src='/image/topping_M_text.png'">
        </a>
    </header>
    
    <!-- Main Auth Content -->
    <main class="auth-main" layout:fragment="content">
        <!-- Auth page content will be inserted here -->
    </main>
    
    <!-- Auth Footer -->
    <footer class="auth-footer">
        <div class="auth-footer-links">
            <a href="#" onclick="openTermsModal()">이용약관</a>
            <a href="#" onclick="openPrivacyModal()">개인정보처리방침</a>
            <a href="/support/cs">고객센터</a>
        </div>
        <p>&copy; topping. All Rights Reserved.</p>
    </footer>
    
    <!-- Policy Modals -->
    <div th:replace="~{fragments/modals :: policy-modals}"></div>
    
    <!-- Common Scripts -->
    <script th:src="@{/js/auth-common.js}"></script>
    
    <!-- Page-specific Scripts -->
    <th:block layout:fragment="scripts"></th:block>
</body>
</html>