<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - Topping">Topping - 협업 매칭 플랫폼</title>
    
    <!-- Common CSS -->
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    
    <!-- Page-specific CSS -->
    <th:block layout:fragment="styles"></th:block>
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
<body class="main-body">
    <!-- Navigation Sidebar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    
    <!-- Main Content Area with Sidebar Offset -->
    <div class="content-wrapper">
        <!-- Page Header -->
        <header class="page-header" layout:fragment="page-header">
            <!-- Optional page header content -->
        </header>
        
        <!-- Main Content -->
        <main class="main-content" layout:fragment="content">
            <!-- Page content will be inserted here -->
        </main>
        
        <!-- Page-specific Action Bar -->
        <div class="action-bar" layout:fragment="action-bar">
            <!-- Optional fixed bottom actions -->
        </div>
    </div>
    
    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
    
    <!-- Common Modals -->
    <div th:replace="~{fragments/modals :: policy-modals}"></div>
    <div th:replace="~{fragments/modals :: confirmation-modal}"></div>
    
    <!-- Common Scripts -->
    <script th:src="@{/js/sidebar.js}"></script>
    <script th:src="@{/js/main-common.js}"></script>
    
    <!-- Page-specific Scripts -->
    <th:block layout:fragment="scripts"></th:block>
</body>
</html>